{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mx-auto max-w-full rounded-lg bg-[#94a3b8] p-5 shadow-lg">
                <legend class="bg-[#1e293b] text-white text-xl font-bold font-mono p-1 rounded-lg" >Make Order</legend>
                <p>Order title: {{ order_form.order_title}}</p>
                <br>
                <p>Source: {{ order_form.source}}</p>
                <br>
                <p>Destination: {{ order_form.destination}}</p>
                <br>
                <p>Approximate Weight: {{ order_form.approx_weight}}</p>
                <p>More information on the goods:</p>
                <p> {{ order_form.descriptive_text}}</p>
                <!-- <p class="map box-border h-10 w-10">{{ m |safe }}</p> -->
            </fieldset>
            <hr>
            <hr>
            <div class="form-group">
                <button class="py-2.5 px-6 rounded-lg text-sm font-medium text-white bg-teal-600" type="submit">Make Order</button>
            </div>
        </form>
    </div>

{% endblock content %}