{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: key, v: "weekly"});</script>
<script>
    function initMap(){
        let map

        map=new google.maps.Map(document.getElementById("map"),{
            center:{lat: 43.4142989,lng: -124.2301242},
            zoom: 8,
        }
        );
    }

    window.initMap=initMap
</script>
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mx-auto max-w-full rounded-lg bg-[#94a3b8] p-5 shadow-lg flex">
                <legend class="bg-[#1e293b] text-white text-xl font-bold font-mono p-1 rounded-lg" >Make Order</legend>
                <div class="flex-1">
                    <p>Order title: {{ order_form.order_title}}</p>
                    <br>
                    <p>Source: {{ order_form.source}}</p>
                    <br>
                    <p>Destination: {{ order_form.destination}}</p>
                    <br>
                    <p>Approximate Weight: {{ order_form.approx_weight}}</p>
                    <p>More information on the goods:</p>
                    <p> {{ order_form.descriptive_text}}</p>
                </div>
                <div class="flex-1 h-fill w-10 bg-blue-200">
                    <div id="map" class="map box-border h-fill w-fill">Google Maps</div>
                    <script async
                        src="https://maps.googleapis.com/maps/api/js?key={{ key }}&loading=async&callback=initMap">
                    </script>
                    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: key, v: "weekly"});</script>
                </div>
            </fieldset>
            <hr>
            <hr>
            <div class="form-group">
                <button class="py-2.5 px-6 rounded-lg text-sm font-medium text-white bg-teal-600" type="submit">Make Order</button>
            </div>
        </form>
    </div>

{% endblock content %}