{% extends "home/base.html" %}
{% block content %}
<div>
    {% for order in order_form %}
        {% if order.author_id == request.user.id %}
            <article class="p-3 mb-2 bg-white text-dark border border-primary rounded" id="article_bars">
                <h1 class="card-title"><a href="#">{{ order.descriptive_text }}</a></h1>
                <div class="info_bar">
                <p>Order ID: {{ order.id }}</p>
                </div>
                <div>
                <p> Date requested: <small class="text-muted">{{ order.date_ordered }}</small></p>
                </div>
                <p>From:{{ order.source }}  To:{{ order.destination }}</p>
            </article>
        {% endif %}
    {% endfor %}
</div>
{%endblock content %}