{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="mx-auto max-w-md rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
                <legend >Make Order</legend>
                {{ order_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="py-2.5 px-6 rounded-lg text-sm font-medium text-white bg-teal-600" type="submit">Make Order</button>
            </div>
        </form>
    </div>

{% endblock content %}