{% extends "home/base.html" %}
{% block content %}
<div>
    {% if order_form %}
        {% for order in order_form %}
            {% if order.author_id == request.user.id %}
                <article class="mb-2 border bg-[#818cf8] p-4 rounded-lg max-w-full bg-[#818cf8]">
                    <h1 class=" font-sans text-2xl font-bold card-title hover:text-[#15803d]"><a href="{% url 'order-detail' order.id %}">{{ order.order_title }}</a></h1>
                    {% if order.status == 'pending approval' %} 
                        <span class="float-right bg-orange-400 font-semibold p-2 rounded-full object-right">{{ order.status }}</span>
                    {% elif order.status == 'in-transit' %}
                        <span class="float-right text-white bg-gray-500 font-semibold p-2 rounded-full object-right">{{ order.status }}</span>
                    {% else %}
                        <span class="float-right text-white bg-green-400 font-semibold p-2 rounded-full object-right">{{ order.status }}</span>
                    {% endif %}
                    <div class="info_bar">
                    <p class="font-semibold">Order ID: {{ order.id }}</p>
                    </div>
                    <div>
                    <p> Date requested: <small class="text-muted italic">{{ order.date_ordered }}</small></p>
                    </div>
                    <p>From:{{ order.source }}  To:{{ order.destination }}</p>
                    
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="flex justify-center items-center">
            <div class="grid place-items-center rounded w-1/2 m-3 p-4 bg-blue-200">
            <div><h2 class="font-bold m-2">Ooops! No order found</h2></div>
            <div><h2 class="m-1">Would you like to make your first order?</h2></div>
            <div><a href="{% url 'order' %}" class=" m-5 py-2.5 px-6 rounded-lg text-sm font-medium text-white bg-teal-600">Click here</a></div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
