{% extends "home/base.html" %}
{% block content %}
<div>
    {% for post in posts %}
        <article>
            <div class="info_bar">
                <img src="{{post.author.profile.image.url}}">
                <p>By <a class="mr-2">{{ post.author }}</a> on <small class="text-muted">{{post.date_posted | date:"F d, Y"}}</small></p>
            </div>
            <h1 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
            <p>{{ post.content }}</p>
        </article>
    {% endfor %}
    <div class="flex h-15 text-2xl">
        <div class="bg-orange-500 h-15 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            Pending approval: <span class="p-2 border-4 rounded-full border-gray-50">{{ pending_approval_orders | length }}</span>
        </div>
        <div class="bg-gray-500 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            In Transit: <span class="p-2 border-4 rounded-full border-gray-50">{{ in_transit_orders | length }}</span>
        </div>
        <div class="bg-green-500 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            Completed orders: <span class="p-2 border-4 rounded-full border-gray-50">{{ complete_orders | length }}</span>
        </div>
    </div>
</div>
{%endblock content %}