{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div>
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="mb-2 relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="caro hidden duration-2500 ease-in-out absolute bg-[url('../static/home/assets/truck5.jpg')]" data-carousel-item>
               <h3 class="carousel-title p-8 font-bold">State of the art trucks</h3>
                <p class="carousel-content font-semibold">Get timely delivery of goods</p>
            </div>
            <!-- Item 2 -->
            <div class="caro hidden duration-2500 ease-in-out absolute bg-[url('../static/home/assets/driver1.jpg')]" data-carousel-item>
                <h3 class="carousel-title p-8 font-bold">Efficient drivers</h3>
                <p class="carousel-content font-semibold">Reliable drivers who take good care of your property</p>
            </div>
            <!-- Item 3 -->
            <div class="caro hidden duration-2500 ease-in-out absolute bg-[url('../static/home/assets/customer-care.jpg')]" data-carousel-item>
                <h3 class="carousel-title p-8 font-bold">Friendly customer care</h3>
                <p class="carousel-content font-semibold">24-hour customer care support</p>
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>

    {% for post in posts %}
        <article>
            <div class="info_bar">
                <img src="{{post.author.profile.image.url}}">
                <p>By <a class="mr-2">{{ post.author }}</a> on <small class="text-muted">{{post.date_posted | date:"F d, Y"}}</small></p>
            </div>
            <h1 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
            <p>{{ post.content }}</p>
        </article>
    {% endfor %}
    <div class="flex h-15 text-2xl">
        <div class="bg-orange-500 h-15 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            Pending approval: <span class="p-2 border-4 rounded-full border-gray-50">{{ pending_approval_orders | length }}</span>
        </div>
        <div class="bg-gray-500 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            In Transit: <span class="p-2 border-4 rounded-full border-gray-50">{{ in_transit_orders | length }}</span>
        </div>
        <div class="bg-green-500 w-fit p-4 rounded flex-1 font-bold text-white m-3">
            Completed orders: <span class="p-2 border-4 rounded-full border-gray-50">{{ complete_orders | length }}</span>
        </div>
    </div>
</div>
{%endblock content %}