/*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.main_header{
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    height: 50px;
    width: 100%;
    padding-bottom: 0%;
    top: 0%;
    background-color: rgb(6, 84, 148);
    font-size: 40px;
    border-radius:0 0 1rem 0;
    color: aliceblue;
}
.sidebar{
    display: absolute;
    position:fixed;
    left: -250px;
    top: 50px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
    border-radius: 0 1rem 0 0;
}

.sidebar header{
    width: 100%;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none; 
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}

ul li:hover{
    padding-left: 10px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #060627;
    border-radius: 10px;
    height: 5px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: red;
    padding: 6px 12px;
    transition: all .5s ;
    height: 30px;
}

label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: #fffb09;
    padding: 4px 9px;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity:50%;
    pointer-events: none;
}

#check:checked ~ section{
    margin-left: 250px;
}

section{
    height: 100vh;
    transition: all .5s;
    margin-left: 250px;
}

#icon_img{
    width: 80px;
    height: 80px;
}

.info_bar{
    display: flex;
}

.sidebar img{
    width: 40px;
}

#article_bars h1 a{
    text-decoration: none;
}

#article_bars{
    background-color: rgb(243, 222, 102);
}